.hero {
    width: 100%;
    background: url(../../image/bg-image.svg)no-repeat center/cover;
    padding-top: 175px;
    padding-bottom: 175px;
    margin-bottom: 90px;
}

.hero__wrapper {
    max-width: 730px;
    height: 349px;
    background: #f7f8fad2;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.hero__theme {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.hero__desc {
    font-size: 40px;
    font-weight: 500;
    color: #1D252C;
}

.hero__info {
    max-width: 537px;
    text-align: center;
    font-size: 18px;
    color: #1D252C;
}

.hero__ul {
    font-size: 28px;
}

.hero__btr {
    padding: 6px 44px;
    border: none;
    background: #56B280;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}

@media (max-width:800px) {
    .hero {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .hero__wrapper {
        max-width: 530px;
        // border: 1px solid red;
        height: 290px;
        background: #f7f8fad2;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }

    .hero__theme {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .hero__desc {
        font-size: 40px;
        font-weight: 500;
        color: #1D252C;
    }

    .hero__info {
        max-width: 400px;
        text-align: center;
        font-size: 15px;
        color: #1D252C;
    }

    .hero__ul {
        font-size: 28px;
    }

    .hero__btr {
        padding: 6px 26px;
        border: none;
        background: #56B280;
        border-radius: 4px;
        cursor: pointer;
        color: #fff;
        font-size: 18px;
    }
}

@media (max-width:550px) {
    .hero {
        padding-top: 100px;
        padding-bottom: 100px;
        margin-bottom: 30px;
    }

    .hero__wrapper {
        max-width: 350px;
        // border: 1px solid red;
        height: 260px;
        background: #f7f8fad2;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        justify-content: center;
    }

    .hero__theme {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .hero__desc {
        font-size: 28px;
        font-weight: 500;
        color: #1D252C;
    }

    .hero__info {
        max-width: 300px;
        text-align: center;
        font-size: 15px;
        color: #1D252C;
    }

    .hero__ul {
        font-size: 24px;
    }

    .hero__btr {
        padding: 6px 14px;
        border: none;
        background: #56B280;
        border-radius: 4px;
        cursor: pointer;
        color: #fff;
        font-size: 16px;
    }
}