.footer {
    width: 100%;
    background: #272727;
    padding-top: 60px;
    padding-bottom: 115px;
}

.footer__wrapper {
    display: flex;
    margin-bottom: 25px;
}

.footer__logo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.foto {
    width: 250px;
    height: 100px;
}

.footer__p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    max-width: 250px;
}

.footer__collection {
    width: 20%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__b {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}

.footer__item {
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 2;
}

.footer__color {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #E5E5E5;
}

.footer__word {
    display: flex;
    justify-content: space-between;
}

.footer__all {
    font-size: 16px;
    font-weight: 500;
    color: #5E6E89;
}

.footer__with {
    font-size: 16px;
    font-weight: 500;
    color: #5E6E89;
}

.heart {
    color: red;
}

@media (max-width:760px) {
    .footer {
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .activ {
        display: none;
    }

    .footer__logo {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .foto {
        width: 230px;

    }

    .footer__collection {
        width: 25%;

    }
}

@media (max-width:550px) {
    .footer {
        padding-top: 60px;
        padding-bottom: 50px;
    }

    .activ {
        display: none;
    }

    .footer__logo {
        width: 100%;
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .foto {
        width: 230px;

    }

    .footer__collection {
        width: 30%;

    }

    .info {
        display: none;
    }

    .footer__word {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer__all {
        text-align: center;
    }
}